<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Enter dates you'll be in town</h1>
  <form action="" method="post" name="startDate">
    {{ form.hidden_tag() }}
    <p>
      Enter the start day you'll be available in mm/dd/yy format:<br>
      {{ form.startDate(size=80) }}<br>
      {% for error in form.startDate.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
    </p>
  </form>
{% endblock %}

{% block content %}
  <form action="" method="post" name="endDate">
    {{ form.hidden_tag() }}
    <p>
      Enter the last full full day in mm/dd/yy format:<br>
      {{ form.endDate(size=80) }}<br>
      {% for error in form.endDate.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
    </p>
  </form>
{% endblock %}
