<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Search for meetup</h1>
  <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
      <p>
          Please enter the zipcode you will be in:<br>
          {{ form.zipcode(size=80) }}<br>
          {% for error in form.zipcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
        Please enter the first date you'll be available:<br>
        {{ form.startDate(size=80) }}<br>
        {% for error in form.startDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </p>
      <p>
        Please enter the last date you'll be available:<br>
        {{ form.endDate(size=80) }}<br>
        {% for error in form.startDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}
