<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <center><h1>Search for meetups</h1></center>
  <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
      <center>
          Please enter the zipcode you will be in:<br>
          {{ form.zipcode(size=25) }}<br>
          {% for error in form.zipcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </center>
      <center>
        Please enter the first date you'll be available in yyyy-mm-dd format:<br>
        {{ form.startDate(size=25) }}<br>
        {% for error in form.startDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </center>
      <center>
        Please enter the last date you'll be available in yyyy-mm-dd format:<br>
        {{ form.endDate(size=25) }}<br>
        {% for error in form.startDate.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </center>
      <center><input type="submit" value="Find meetups!"></center>
  </form>
{% endblock %}
